
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary
{display:block}

audio,canvas,video{
    display:inline-block;
    *display:inline;
    *zoom:1}

audio:not([controls]){
    display:none;
    height:0}

[hidden]{
    display:none}

html{
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%}

body{
    margin:0}

a{
    color:#fff}

a:visited{
    color:#fff}

a:hover{
    color:#fff}

a:focus{
    outline:thin dotted}

a:hover,a:active{
    outline:0}

abbr[title]{
    border-bottom:1px dotted}

b,strong{
    font-weight:bold}

blockquote{
    margin:1em 40px}

dfn{
    font-style:italic}

hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;padding:0}

mark{
    background:#ff0;
    color:#000}

pre,code,kbd,samp{
    font-family:monospace, serif;
    _font-family:'courier new', monospace;
    font-size:1em}

pre{
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word}

q{
    quotes:none}

q:before,q:after{
    content:"";content:none}

small{
    font-size:80%}

sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline}

sup{
    top:-0.5em}

sub{
    bottom:-0.25em}

ul,ol{
    margin:1em 0;
    padding:0 0 0 40px}

dd{
    margin:0 0 0 40px}

nav ul,nav ol{
    list-style:none;
    list-style-image:none;
    margin:0;padding:0}

img{
    border:0;
    -ms-interpolation-mode:bicubic;
    vertical-align:middle}

svg:not(:root){
    overflow:hidden}

figure{
    margin:0}

form{
    margin:0}

fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em}

label{
    cursor:pointer}

legend{
    border:0;
    *margin-left:-7px;
    padding:0;
    white-space:normal}

button,input,select,textarea{
    font-size:100%;
    margin:0;
    vertical-align:baseline;
    *vertical-align:middle}

button,input{
    line-height:normal}

button,input[type="button"],input[type="reset"],input[type="submit"]{
    cursor:pointer;
    -webkit-appearance:button;
    *overflow:visible}

button[disabled],input[disabled]{
    cursor:default}

input[type="checkbox"],input[type="radio"]{
    box-sizing:border-box;
    padding:0;
    *width:13px;
    *height:13px}

input[type="search"]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance:none}

button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0}

textarea{
    overflow:auto;
    vertical-align:top;
    resize:vertical}

table{border-collapse:collapse;
      border-spacing:0}

*{
    -webkit-box-sizing:border-box;    // smeta date-boxu
    -moz-box-sizing:border-box;
    box-sizing:border-box;             // smeta date-boxu
}
html,button,input,select,textarea{
    color:#222}

html,body{
    width:100%;height:100%} 

body{
    font-family:"proxima-nova";
    font-size:1em;
    line-height:1.4;
    background-color:#2b3137;
    //color:#fff;       //smeta bootstrap-datapicker 
    position:relative}

input[type="text"],input[type="email"],input[type="password"],textarea{
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    outline:none;
    border:0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-transition-property:background-color;
    -moz-transition-property:background-color;
    -o-transition-property:background-color;
    transition-property:background-color;
    -webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    -o-transition-duration:1s;
    transition-duration:1s}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus{
    outline:none}
label{
    font-size:16px;
    color:#696969;
    font-weight:600}

.btn{
    display:block;
    float:left;
    padding:0;
    width:138px;
    outline:none;
    border:0;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
    font-family:"proxima-nova";
    font-size:16px;
    font-weight:600;
    line-height:32px;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px}

.btn-red{
    background-color:#ff5d60}

.btn-gray{
    background-color:#d3d3d3}

.btn-green{
    background-color:#a5d610}


header{
    height:58px;
    background-color:#1bd1f2;
    -webkit-box-shadow:0 1px 2px #221e1f,inset 0 1px 0 rgba(255,255,255,0.15);
    -moz-box-shadow:0 1px 2px #221e1f,inset 0 1px 0 rgba(255,255,255,0.15);
    box-shadow:0 1px 2px #221e1f,inset 0 1px 0 rgba(255,255,255,0.15);
    background-image:-webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(255,255,255,0)));
    background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0) 100%);
    background-image:-moz-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0) 100%);
    background-image:-o-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0) 100%);
    background-image:linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0) 100%)}

.logo{display:block;
     margin-left:25px;
     font-size:20px;
     line-height:58px;
     font-weight:700;
     text-transform:lowercase;
     text-decoration:none}

.logo h1{
    margin:0}

.main-nav ul{
    list-style:none;
    margin:68px 0 0;
    padding:0;
    
    }

.main-nav a{
    font:0/0 a;
    text-shadow:none;
    color:transparent;
    display:block;
    width:79px;
    height:81px;
    border-bottom:1px solid #2b3137;
    background-position:center;
    background-repeat:no-repeat}

.main-nav li.active a,
.main-nav a:hover{
    background-color:#21bbd7}

.to-dash{
    background-image:url("../img/dashboard.png")}

.to-members{
    background-image:url("../img/members.png")}

input.searchMembers{
    position:absolute;
    top:75px;
    left:80px;
    height:40px;
    width:360px;
    padding:0 0 0 44px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    background:rgba(0,0,0,0.4) url("../img/search.png") 19px center no-repeat;
    -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.04),inset 0 2px 5px rgba(0,0,0,0.25),inset 0 0 250px rgba(255,255,255,0.03);
    -moz-box-shadow:0 1px 1px rgba(255,255,255,0.04),inset 0 2px 5px rgba(0,0,0,0.25),inset 0 0 250px rgba(255,255,255,0.03);
    box-shadow:0 1px 1px rgba(255,255,255,0.04),inset 0 2px 5px rgba(0,0,0,0.25),inset 0 0 250px rgba(255,255,255,0.03);
    font-size:16px;color:#b5b5b5}

input.searchMembers::-webkit-input-placeholder{font-style:italic}
    
input.searchMembers:-moz-placeholder{font-style:italic}

input.searchMembers::-moz-placeholder{font-style:italic}

input.searchMembers:-ms-input-placeholder{font-style:italic}
/*
.members-master{
    position:absolute;
    left:80px;
    width:400px;
    top:125px;
    bottom:0;
    //overflow-y:scroll;
    background-color:#272b30;
    -webkit-box-shadow:0 0 5px #191c21;
    -moz-box-shadow:0 0 5px #191c21;
    box-shadow:0 0 5px #191c21}
*/
.members-master ul{
    list-style:none;
    margin:0 0 80px;
    padding:0}

.members-master li{
    display:block;
    width:100%;
    border-top:1px solid #30353a}

.members-master li.active a{background-color:#30353a}

.members-master li>a{
    position:relative;
    display:block;
    height:80px;
    text-decoration:none}

.members-master li>a:hover{background-color:#30353a}

.members-master .avatar{
    display:block;
    float:left;
    margin:0 20px 0 0}

.members-master .member-li-main-info{
    display:table;
    height:80px;
    width:258px;
    overflow:hidden;
    margin:0;
    padding:0;
    border:0;
    position:relative}

.members-master .info-wrapper{
    display:table-cell;
    width:100%;
    line-height:1;
    vertical-align:middle}

.members-master .member-name{
    font-size:20px;
    font-weight:600}

.members-master .payment-delay{
    margin:0;
    position:relative;
    top:3px;
    font-size:11px;
    font-weight:600;
    text-transform:uppercase;
    color:#ff0000}

.members-master .payment-delay span{color:#515151}

.add-member{background-color:#30353a;border:0}

.add-member .new-member-icon{
    display:block;
    width:80px;
    height:80px;
    float:left;
    margin:0 20px 0 0;
    background:#282c30 url("../img/new-member-icon.png") center no-repeat}
/*
.member-detail{
    position:absolute;
    left:480px;
    right:0;
    top:125px;
    bottom:0;
    overflow-y:scroll;
    background-color:#f4f4f4;
    color:#0a0b0b;
}
*/

.member-detail a{color:#0a0b0b}

.member-detail-main{
    overflow:hidden;
    *zoom:1;
    width:100%;
    padding:20px 0 0 20px;
    background-color:#fff}

.member-detail-main .options{
    overflow:hidden;
    *zoom:1;
    width:100%;
    margin-bottom:20px;
    padding:5px 20px 18px 0;
    border-bottom:1px solid #ececec}

.member-detail-main .options .right{float:right}

.member-detail-main .options .right .btn{margin-left:3px}

.member-data{overflow:hidden;*zoom:1}

.member-data .avatar{
    display:block;
    float:left;
    margin-right:11px}

.member-data input[type="text"],
.member-data input[type="email"],
.member-data input[type="password"]{
    height:54px;
    width:322px;
    border:2px solid #f3f3f3;
    margin-bottom:5px;
    background-color:#f4f4f4;
    padding:0 16px;
    color:#0a0b0b;
    font-size:20px;
    font-weight:600}
.member-data input[type="text"]:focus,
.member-data input[type="email"]:focus,
.member-data input[type="password"]:focus{background-color:#fff}

.dob,.phone{
    float:left;
    padding-left:24px;
    font-size:20px;
    line-height:26px;
    color:#0a0b0b;
    margin:10px 10px 0}

.dob{
    background:transparent url("../img/dob.png") left 1px no-repeat;
    margin-right:32px}

.phone{
    background:transparent url("../img/phone.png") left 5px no-repeat;
    padding-left:30px}

.member-detail-tabs{clear:both;margin-top:20px}

.member-detail-tabs a{
    display:block;
    float:left;
    padding:0 24px;
    font-size:20px;
    line-height:50px;
    font-weight:700;
    color:#848484;text-decoration:none;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -ms-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0}

.member-detail-tabs a:hover,

.member-detail-tabs a.active{color:#282c30}

.member-detail-tabs a.active{background-color:#f4f4f4}

.tab-content{
    padding: 15px 15px 0;
    display: block;
} 

    
/*changed */
#new-member .form-field{overflow:hidden;*zoom:1;display:block}
#new-member input[type="text"],
#new-member input[type="email"],
#new-member input[type="password"],
#new-member textarea{
    border:1px solid #ccc;
    margin-bottom:5px;
    background-color:#fff;
    padding:0 16px;
    color:#0a0b0b;
    font-size:16px;
    font-weight:600}
#new-member input[type="text"]:focus,
#new-member input[type="email"]:focus,
#new-member input[type="password"]:focus,
#new-member textarea:focus{background-color:#fff}
#new-member input[type="text"],
#new-member input[type="email"],
#new-member input[type="password"]{height:35px;width:200px}
#new-member textarea{
    height:100px;
    width:200px}
#new-member label{float:left;width:150px;line-height:40px}

    
    /*
    #new-member.with-errors input.ng-invalid,
    #new-member.with-errors textarea.ng-invalid{border:1px solid red} 
    #new-member.with-errors .errors{display:block}
    #new-member .errors{display:none;color:red}
                .cl,
                .cb{clear:both}
                .fade-enter-setup,
                .fade-leave-setup{transition:opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s}
                .fade-enter-setup,
                .fade-leave-setup.fade-leave-start{opacity:0}
                .fade-leave-setup,
                .fade-enter-setup.fade-enter-start{opacity:1}
    
                
  /* only birth input shorter */
#new-member input[name="nBirth"]{
        height:35px;
        width:173px}
  
#new-member input[name="eBirth"] {
    height: 35px;
    width: 173px;
}

