/* added css */
.member-detail-subtab-button{
  display:block;
  overflow:hidden;
  /* *zoom:1; */
  width:100%;
  margin-bottom:5px;
}

.member-detail-subtab-button .right{
    float:right;
    padding-right: 10px;
    padding-top: 5px;
}

.member-detail-subtab-table{
  display:block;
  overflow:hidden;
  width:100%;
}

.btn-black{
    display:block;
    padding:0;
    width:180px;
    outline:none;
    border:0;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
    font-family:"proxima-nova";
    font-size:14px;
    font-weight:600;
    line-height:32px;
    background-color: #404040;
    color: #fff; 
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px
}

.member-table-field{
    display:block;
    padding:0;
}

.procedures{
    height: auto;
}

.procedure-details {
    height: auto;
    transition: .8s;
    overflow: hidden;
}

.procedure-details.hidden {
    max-height: 0;
}

.validation-valid {
    color: #0074D9;
}

.validation-invalid {
    color: #FF4136;
}

/* VALIDATION PART 2 */
#new-member input.ng-invalid.has-visited{
    border:1px solid #E44848;   /* not working */
}
#new-member input.ng-valid.has-visited{
    border:1px solid #a3bf57;
}
 .error-message{
    color:#E44848;
}


/*label validation */
#new-member .form-field.warning>label{color:#E44848;}
#new-member .form-field.error>label{color:#E44848;}

/* input validation2 */
#new-member .form-field.error input{color:#E44848;}
#new-member .form-field.error input{
    border: 1px solid #E44848;}

/* radio button rectangle background */
#new-member .form-field .rectangle-background {
	float:left;
        width:205px;
        height:50px;
}

/* error message rectangle background for gender */
#new-member .form-field .rectangle-background2 {
	float:left;
        width:230px;
        height:35px;
        padding-top: 10px;
}

/* changes css cause perfect-scrollbar */
.members-master{
    position:absolute;
    overflow: hidden;
    left:80px;
    width:360px; 
    top:125px;
    bottom:0;
    background-color:#272b30;
    -webkit-box-shadow:0 0 5px #191c21;
    -moz-box-shadow:0 0 5px #191c21;
    box-shadow:0 0 5px #191c21}

.members-master .content{
     width: 385px; 
     height: auto;
      overflow: hidden;
}

.member-detail{
    position:absolute;
    left:440px;
    right:0;
    top:125px;
    bottom:0;
    overflow:hidden;
    background-color:#f4f4f4;
    color:#0a0b0b;
}

.members-detail-main .content2{ 
     height: auto;
}


