<h3>Edit user</h3>
<form id="new-member" name="emember">
    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eName.$invalid]">
        <label for="eName">Name</label>
        <input id="eName" name="eName" type="text" ng-model="user.name" required>
        <span class="error-message" ng-show="(submitted && emember.eName.$error.required) || (!emember.eName.hasFocus && emember.eName.hasVisited && emember.eName.$error.required)">This field is required.</span>
    </div>
    
    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eSurname.$invalid]">
        <label>Surname</label>
        <input name="eSurname" type="text" ng-model="user.surname" required/> 
        <span class="error-message" ng-show="(submitted && emember.eSurname.$error.required) || (!emember.eSurname.hasFocus && emember.eSurname.hasVisited && emember.eSurname.$error.required)">This field is required.</span>
    </div>
     
    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eGender.$invalid]">
        <label>Gender</label>
        <div class="rectangle-background">
            <input name="eGender" type="radio" ng-model="user.gender" value="male" required /> Male<br>  
            <input name="eGender" type="radio" ng-model="user.gender" value="female" required/> Female
        </div>
        <div class="rectangle-background2">
            <span class="error-message" ng-show="submitted && emember.eGender.$error.required">Choose one of the options.</span>
        </div>
    </div>
    
    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eBirth.$invalid]">
        <label>Birth</label>
        <div class="form-horizontal" novalidate name="form" ng-submit="submit()">
            <!-- better solution for ng-model? -->
            <div id="date" class="input-append" datetimez ng-model="user.birth" >
                <input name="eBirth" ng-model="user.birth" data-format="dd/MM/yyyy" type="text" required disabled>
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
            <span class="error-message" ng-show="submitted && emember.eBirth.$error.required">This field is required.</span>
        </div>
    </div>
    
    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eEmail.$invalid]">
        <label >Email</label>
        <input name="eEmail" type="email" ng-model="user.email" required/> 
        <span class="error-message" ng-show="!emember.eEmail.hasFocus && emember.eEmail.hasVisited && emember.eEmail.$error.email">Not a valid email.</span>
        <span class="error-message" ng-show="(submitted && emember.eEmail.$error.required) || (!emember.eEmail.hasFocus && nmember.eEmail.hasVisited && nmember.eEmail.$error.required)">This field is required.</span>
    </div>
    
    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.ePhone.$invalid]">
        <label>Phone</label>
        <input name="ePhone" type="text" ng-model="user.phone" ng-pattern="/[0-9]/" required/> 
        <span class="error-message" ng-show="!emember.ePhone.hasFocus && emember.ePhone.hasVisited && emember.ePhone.$error.pattern">This field must be a number.</span>
        <span class="error-message" ng-show="(submitted && emember.ePhone.$error.required) || (!emember.ePhone.hasFocus && emember.ePhone.hasVisited && emember.ePhone.$error.required)">This field is required.</span>

    </div>

    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eCity.$invalid]">
        <label>City</label>
        <input name="eCity" type="text" ng-model="user.city" required/>
        <span class="error-message" ng-show="(submitted && emember.eCity.$error.required) || (!emember.eCity.hasFocus && emember.eCity.hasVisited && emember.eCity.$error.required)">This field is required.</span>
    </div>

    <div class="form-field" ng-class="{true: 'error'}[submitted && emember.eState.$invalid]">
        <label>State</label>
        <input name="eState" type="text" ng-model="user.state" required/> 
        <span class="error-message" ng-show="(submitted && emember.eState.$error.required) || (!emember.eState.hasFocus && emember.eState.hasVisited && emember.eState.$error.required)">This field is required.</span>
    </div>
    
    <p><input type="file" fileread="uploadme" /></p>
    
    <div class="procedures">
        <h4><a href ng-click="showDetails = ! showDetails">Optional informaton</a></h4>
        <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
            
            <div class="form-field">
                <label>Profession</label>
                <input type="text" ng-model="user.profession">
            </div>
            
            <div class="form-field">
                 <label>Relationship status</label>
                <input type="text" ng-model="user.relationship">
            </div>
   
            <div class="form-field">
                <label>Weight</label>
                <input type="text" ng-model="user.weight">
            </div>
            
            <div class="form-field">
                <label>History of injures</label>
                <textarea ng-model="user.history"></textarea>
            </div>
            
            <div class="form-field">
                <label>Remarks on current or recent injury</label>
                <textarea ng-model="user.remarks"></textarea>
            </div>
            
            <div class="form-field">
                <label>Notes</label>
                <textarea ng-model="user.notes"></textarea>
            </div>
            
        </div>
    </div>
    
    <br>
    <!-- TODO: problem <a>href="#/members/{{user.id}}" ...</a> -->
    <a><button ng-click="submitted=true; editUser(user.id)">Spremi</button></a>
    <!-- TODO: sref -->
    <a href="#/members/{{user.id}}"><button>Cancel</button></a>
    
</form>