<!-- THIRD COLUMN -->
<div class="member-detail SuppressScrollX">  <!-- SuppressScrollX perfect-scrollbar -->
    <div class="member-detail-main content2">  <!-- content class for perfect-scrollbar --> 
        <div ui-view="detail"> <!-- edit routing --> 
            <div class="options">
                <div class="right">
                    <button ui-sref=".edit" class="btn btn-gray">Edit user</button>
                    <button class="btn btn-red" ng-click="deleteUser(user.id)" >Delete user</button>
                </div>
            </div>
            <!-- Get specific user -->
            <div class="member-data" >
                <img ng-src="{{imageurl}}{{user.image}}" alt="" width="128" height="128" class="avatar"/>
                <input ng-model="user.name" type="text" disabled /><br>
                <input ng-model="user.surname" type="text"disabled /><br>
                <span class="dob">{{user.birth}}</span>
                <span class="phone">{{user.phone}}</span>
            </div>

            <!-- User tabs -->     
            <div class="member-detail-tabs">
                <a ui-sref=".profile" ng-class="{ active: $state.includes('members.detail.profile') }">Profile</a>
                <a ui-sref="members.detail.fees" ng-class="{ active: $state.includes('members.detail.fees') }">Fees</a>
                <a ui-sref=".notes" ng-class="{ active: $state.includes('members.detail.notes') }">Notes</a>
                
                <!-- todo ui-sref -->
<!--            <a href="#/members/{{user.id}}/profile" ng-class="{ active: $state.includes('members.detail.profile') }">Profile</a>
                <a href="#/members/{{user.id}}/fees" ng-class="{ active: $state.includes('members.detail.fees') }">Fees</a>
                <a href="#/members/{{user.id}}/notes" ng-class="{ active: $state.includes('members.detail.notes') }">Notes</a>              -->
            </div>   
        </div>
  
    </div>
    
    <div ui-view="items" class="tab-content"></div>
 
    
</div>




