<input type="text" placeholder="Find member" ng-model="searchText" class="searchMembers"/> 
<!-- connects box add and box list -->
<div class="members-master SuppressScrollX">   <!-- SuppressScrollX perfect-scrollbar -->
     
    <li class="add-member">
        <a ui-sref=".new">
            <div class="new-member-icon"></div>  
            <div class="member-li-main-info">
                <div class="info-wrapper">
                    <span class="member-name">Add new member</span>
                </div> 
            </div>
        </a>

    </li> 
    
    <div class="content"> <!-- content class for perfect-scrollbar -->
        <ul>   
            <!-- LISTA-->
            <li ng-repeat="member in users| filter:searchText"> 
                <!-- created members -->

                <!-- TODO: ui-sref=".detail" -->
                <a href="#/members/{{member.id}}">
                    <!-- loading images -->
                    <img ng-src="{{imageurl}}{{member.image}}" width="80" height="80" class="avatar"/> 
                    <!-- member name and surname-->
                    <div class="member-li-main-info">  
                        <div class="info-wrapper">
                            <span class="member-name" >
                                {{member.name | capitalize }}  {{member.surname | capitalize }} 
                            </span>
                        </div> 
                    </div> 
                </a>

            </li>

        </ul>  

    </div>
</div> 

<div ui-view></div>
