<div class="member-detail SuppressScrollX"> 
    <div class="member-detail-main content2"> 

        <h3>Basic information:</h3>
        <!-- TODO VALIDATION ERROR MESAGGE -->
        <form id="new-member" name="nmember" novalidate>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nName.$invalid]">
                <label>Name<sup>*</sup></label>
                <input name="nName" type="text" ng-model="userNameInput" required/> 
                <span class="error-message" ng-show="(submitted && nmember.nName.$error.required) || (!nmember.nName.hasFocus && nmember.nName.hasVisited && nmember.nName.$error.required)">This field is required.</span>
            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nSurname.$invalid]">
                <label>Surname<sup>*</sup></label>
                <input name="nSurname" type="text" ng-model="userSurnameInput" required/> 
                <span class="error-message" ng-show="(submitted && nmember.nSurname.$error.required) || (!nmember.nSurname.hasFocus && nmember.nSurname.hasVisited && nmember.nSurname.$error.required)">This field is required.</span>
            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nGender.$invalid]">
                <label>Gender<sup>*</sup></label>
                <div class="rectangle-background">
                    <input name="nGender" type="radio" ng-model="userGenderInput" value="male" required /> Male<br>  
                    <input name="nGender" type="radio" ng-model="userGenderInput" value="female" required/> Female
                </div>
                <div class="rectangle-background2">
                    <span class="error-message" ng-show="submitted && nmember.nGender.$error.required">Choose one of the options.</span>
                </div>
            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nBirth.$invalid]">
                <label>Birth<sup>*</sup></label>
                <div class="form-horizontal" novalidate name="form" ng-submit="submit()">
                    <!-- better solution for ng-model? (reason:validation css) -->
                    <div id="date" class="input-append" datetimez ng-model="userBirthInput">
                        <input name="nBirth" ng-model="userBirthInput" data-format="dd/MM/yyyy" type="text" required disabled>
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        </span>
                    </div>
                    <span class="error-message" ng-show="submitted && nmember.nBirth.$error.required">This field is required.</span>
                </div>
            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nEmail.$invalid]">
                <label>Email<sup>*</sup></label>
                <input name="nEmail" type="email" ng-model="userEmailInput" required/> 
                <span class="error-message" ng-show="!nmember.nEmail.hasFocus && nmember.nEmail.hasVisited && nmember.nEmail.$error.email">Not a valid email.</span>
                <span class="error-message" ng-show="(submitted && nmember.nEmail.$error.required) || (!nmember.nEmail.hasFocus && nmember.nEmail.hasVisited && nmember.nEmail.$error.required)">This field is required.</span>
            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nPhone.$invalid]">
                <label>Phone<sup>*</sup></label>
                <input name="nPhone" type="text" ng-model="userPhoneInput" ng-pattern="/[0-9]/" required/> 
                <span class="error-message" ng-show="!nmember.nPhone.hasFocus && nmember.nPhone.hasVisited && nmember.nPhone.$error.pattern">This field must be a number.</span>
                <span class="error-message" ng-show="(submitted && nmember.nPhone.$error.required) || (!nmember.nPhone.hasFocus && nmember.nPhone.hasVisited && nmember.nPhone.$error.required)">This field is required.</span>

            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nCity.$invalid]">
                <label>City<sup>*</sup></label>
                <input name="nCity" type="text" ng-model="userCityInput" required/>
                <span class="error-message" ng-show="(submitted && nmember.nCity.$error.required) || (!nmember.nCity.hasFocus && nmember.nCity.hasVisited && nmember.nCity.$error.required)">This field is required.</span>
            </div>

            <div class="form-field" ng-class="{true: 'error'}[submitted && nmember.nState.$invalid]">
                <label>State<sup>*</sup></label>
                <input name="nState" type="text" ng-model="userStateInput" required/> 
                <span class="error-message" ng-show="(submitted && nmember.nState.$error.required) || (!nmember.nState.hasFocus && nmember.nState.hasVisited && nmember.nState.$error.required)">This field is required.</span>
            </div>

            <p><input type="file" fileread="uploadme" /></p>
            <hr>

            <!-- ADD MORE INFORMATION -->

            <div class="procedures">
                <h4><a href ng-click="showDetails = ! showDetails">Optional informaton</a></h4>
                <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">

                    <div class="form-field">
                        <label>Profession</label>
                        <input ng-model="userProfessionInput" type="text"/> 
                    </div>

                    <div class="form-field">
                        <label>Relationship status</label>
                        <input ng-model="userRelationshipInput" type="text"/>
                    </div>

                    <div class="form-field">
                        <label>Weight</label>
                        <input ng-model="userWeightInput" type="text"/> 
                    </div>

                    <div class="form-field">
                        <label>History of injuries</label>
                        <textarea ng-model="userHistoryInput"></textarea>
                    </div>

                    <div class="form-field">
                        <label>Remarks on current or recent injury </label>
                        <textarea ng-model="userRemarksInput"></textarea>
                    </div>

                    <div class="form-field">
                        <label>Notes</label>
                        <textarea ng-model="userNotesInput"></textarea>
                    </div>
                </div>      
            </div>
            <br>
            <button class="btn btn-green" ng-click="submitted = true; addUser();">Add user</button>
        </form>
    </div>

</div>

