<div class="modal-dialog">
    <div class="modal-content">
        
        <div class="modal-header">
            <button class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Invoice</h3>
        </div>
        
        <div class="modal-body">   
            <div class="form-field"> <!-- call id: {{id_users}} -->
                <label>User name:</label> {{user.name}} {{user.surname}}
            </div>
            <div class="form-field">
                <label>Start day:</label>
                <div id="date3" class="input-append" datetimez2 ng-model="input.dateSubscription">
                    <input name="payDate" ng-model="input.dateSubscription" data-format="dd/MM/yyyy" type="text" required disabled>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="form-field">
                <label>Type of payment:</label>
                <select ng-model="input.typeSubscription" ng-options="tS.name for tS in typeNames" ng-init="input.typeSubscription"></select><br>
            </div>
            <span ng-if="!(input.typeSubscription == typeNames[2])">           
                <div class="form-field">
                    <label>Paid/unpaid:</label>
                    <div class="checkboxFive">
                        <input type="checkbox" id="checkboxFiveInput" ng-model="input.paidSubscription" ng-init="input.paidSubscription" />
                        <label for="checkboxFiveInput"></label>
                    </div>
                </div> 
            </span>
        </div>
        
        <div class="modal-footer">
            <button  class="btn2 btn2-default" ng-click="cancel()">Close</button>
            <button  class="btn2 btn2-primary" ng-click="ok()">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
