<br>Age: {{user.age}}
<br>From: {{user.city | capitalize}}, {{user.state | capitalize}}
<br>Phone: {{user.phone}}
<br>Profession: {{user.profession}}
<br>Weight:{{user.weight}} kg
<br>Relationship status: {{user.relationship}}

