<div class="member-detail-subtab-button">
    <div class="right">
        <!-- MODAL PART -->
        <button class="btn-black" ng-click="open()">Create new invoice</button>
    </div>
</div>

<br>

<div class="member-detail-subtab-table">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="sub in subscriptions" height="52">
            <td data-title="'ID'" width="50">
                <span >{{sub.id}}</span>
            </td>
            
            <td data-title="'Start day'" width="150">
                <span>{{sub.start_date}}</span>
            </td>
            
            <td data-title="'End day'" width="150">
                <span>{{sub.end_date}}</span>
            </td>
            
            
            <td data-title="'Status'" width="120">
                <span>
                    <button ng-if="sub.paid == 1"  href="" class="btn-custom3 btn-custom-success3">Paid</button>
                    <button ng-if="sub.paid == 0"  href="" class="btn-custom3 btn-custom-warning3">Unpaid</button>
                </span>            
            </td>

            <td data-title="'Type'" width="100">
                 <span ng-if="sub.type != 'free'">{{sub.type| capitalize}}</span>
                 <span ng-if="sub.type == 'free'">
                     <button class="btn-custom3 btn-primary3">Free</button>
                 </span>           
            </td> 
            
            <td data-title=" ">
                <button class="btn3 btn-danger3">Del</button>  
            </td>
        </tr>
    </table>
</div>

<br><br>

<!--<div ng-controller="DemoCtrl">-->
<!--    <table ng-table="tableParams" class="table">
        <tr ng-repeat="mate in $data">
            <td data-title="'Name'" width="200">
                <span ng-if="!mate.$edit">aloohhaaa</span>
                <div ng-if="mate.$edit"><input class="form-control" type="text" ng-model="user.name" /></div>
            </td>
            <td data-title="'Age'" width="200">
                <span ng-if="!mate.$edit">{{user.age}}</span>
                <div ng-if="mate.$edit"><input class="form-control" type="number" ng-model="user.age" /></div>
            </td>
            <td data-title="'Rections'" width="200">
                <a ng-if="!mate.$edit" href="" class="btn btn-default btn-xs" ng-click="mate.$edit = true">Edit</a>
                <a ng-if="mate.$edit" href="" class="btn btn-primary btn-xs" ng-click="mate.$edit = false">Save</a>
            </td>
    </table>-->
<!--</div>-->
















